<div class="modal-box">
  <div class="modal-header">
    <div class="mx-3">
      <h2 class="modal-title">Verificando seu microfone e câmera</h2>
    </div>
    <!-- <button mat-button class="close-icon">close</button>> -->
  </div>

  <div class="modal-body">
    <div class="media">
      <label class="mic">Verificando microfone</label>
      <label class="cam">Verificando câmera</label>
    </div>

    <div class="botao">
      <input type="submit" value="Prosseguir" />
    </div>
  </div>
  <div class="bottom">
    <strong>Para um atendimento tranquilo:</strong>
    <p>Ultilize um fone de ouvido para evitar ruidos</p>
    <p>durante a consulta e escolha um ambiente</p>
    <p>silencioso e iluminado.</p>
  </div>
</div>
